body {
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-item {
  flex-basis: 25%;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 100px;
  background-color: skyblue;
  margin: 20px;
}

.row {
  display: flex;
  flex-direction: row; 
  padding: 10px;
}